<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- using bootstrap css to build navbar-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
    <!-- rendering the chart.js cdn to add a line graph to display the user's daily weight -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <title>{% block title %}Workout App | Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/">Workout App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.id not in user_query_res %}
                <li class="nav-item active">
                    <a class="nav-link" href="/coaching">Coaching<span class="sr-only"></span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/clients">Clients<span class="sr-only"></span></a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.first_name}}'s Profile
                        
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile/{{user.first_name}}">Profile Page</a>
                        <a class="dropdown-item" href="profile-setup">Setup</a>
                        <a class="dropdown-item" href="/workouts">Workouts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="logout" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </nav>
    <br/>
    <div class="container-fluid text">{% block div %}
        <div class="container-fluid item-a">
            <p><a href="/calorie-calculator">Calorie Calculator</a></p>
        </div>
        <br/><br/>
        <div class="container-fluid item-b">
            <p><a href="/workout-automation">Workout Automator</a></p>
        </div>{% endblock %}
        <div class="container-fluid">
            <br/><br/>
        </div>
        <div class="container-fluid">
            <br/><br/>
            <!-- Display a graph of the user's current weight, prompt user to input weight everyday-->
            <canvas id="myChart" width="1800" height="400"></canvas>
            <script>
                // line chart displaying user's weight data
                const ctx = document.getElementById('myChart');
                var lineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels | safe }},
                        datasets: [{
                            label: ' Daily Weights',
                            data: {{ values | safe }},
                            fill: false,
                            borderColor: 'rgb(75,192,192)',
                            lineTension: 0.1
                        }]
                    },
                    options: {
                        responsive: false,
                    
                    }
                });
            </script>
        </div>
        <br><br><br>
        <form method="POST">{% block form %}
            <div class="form-group">
                <label for="newWeightInput">Weight</label>
                <input type="number" name="newWeight-content" id="newWeight-content" class="form-control" placeholder="Enter your weight today">
            <br/>
            <button class="btn btn-outline-primary" type="submit">Calculate</button>
            
        </form>{% endblock %}
        
        <div class="container-fluid message box">
            {% with messages = get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                    {% for category, message in messages %} 
                        {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alter-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>



    <!-- using javascript to make the navbar responsive -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>