/* styling the maintenance calories header */
div {
    display: block;
    box-sizing: border-box;
}

#tdee-cals {
    background: #fdf6e5;
    color: #333;
    position: relative;
    width: 100%;
    height: 232px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #ede7bb;
}

/* Styling the macronutrient tables */
.column {
    float: left;
    width: 33.33%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* Changing the color of the macronutrient tables */
